*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter Variable", sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.6;
  height: 100vh;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 5rem;
}

nav a {
  height: 100%;
  padding: 0 3rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main_container {
  padding: 5rem;
}

.sidebarli {
  width: 100%;
}

.sidebar a {
  width: 100%;
}
.menuBotton {
  display: none;
}

.sub_container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.main_content {
  height: 70rem;
}
.page_img {
  height: 50rem;
  width: 100rem;
  background-image: url(./assets/images/image-web-3-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.text_div_wraper {
  display: flex;
  justify-content: space-between;
}
.mainText {
  font-size: 4rem;
  font-weight: 900;
  line-height: 98%;
  padding-top: 2rem;
}
.mainparagraph {
  font-size: 2rem;
  padding-top: 2rem;
}
button {
  background-color: #f45b51;
  height: 4rem;
  width: 10rem;
  border: none;
  margin-top: 1.3rem;
}
.new_content {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  color: white;
  flex-direction: column;
  padding-left: 2rem;
}

.newH2 {
  color: #ebb768;
  font-size: 3rem;
}
section {
  display: flex;
  margin-top: 5rem;
  justify-content: space-evenly;
}
.growthDiv {
  display: flex;
  justify-content: space-evenly;
}
.imgGrowthDiv {
  height: 15rem;
}
.imgGrowthDiv3 {
  padding-left: 2rem;
}
.red {
  color: #f45b51;
  font-size: 3rem;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menuBotton {
    display: block;
  }
  .sub_container {
    display: block;
  }
  .page_img {
    background-image: url(./assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .text_div_wraper {
    display: block;
    margin-bottom: 10rem;
  }
  .new_content {
    margin-top: 20rem;
    height: 40rem;
  }
  section {
    display: block;
  }
}
