*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter Variable", sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.6;
}
